<div class="gf-form-group">
	<div class="gf-form">
		<div class="form-field">
			<label class="gf-form-label width-11">
				Type
				<info-popover mode="right-normal">The type of Sequential Data Store</info-popover>
			</label>
			<div style="flex-grow: 1;">
				<select ng-model="ctrl.current.jsonData.type">
					<option value="ocs">OSIsoft Cloud Services</option>
					<option value="eds">Edge Data Store</option>
				</select>
			</div>
		</div>
	</div>
</div>

<div ng-if="ctrl.current.jsonData.type === 'ocs'">
	<h3 class="page-heading">OCS Tenant Information</h3>
	
	<div class="gf-form-group">
		<div class="gf-form">
			<div class="form-field">
				<label class="gf-form-label width-11">
					URL
					<info-popover mode="right-normal">The URL for OSIsoft Cloud Services</info-popover>
				</label>
				<div style="flex-grow: 1;">
					<input type="text" class="gf-form-input width-20" ng-model="ctrl.current.jsonData.url" required placeholder="https://dat-b.osisoft.com" />
				</div>
			</div>
		</div>
	
		<div class="gf-form">
			<div class="form-field">
				<label class="gf-form-label width-11">
					API Version
					<info-popover mode="right-normal">The version of the OCS API to use</info-popover>
				</label>
				<div style="flex-grow: 1;">
					<input type="text" class="gf-form-input width-20" ng-model="ctrl.current.jsonData.version" required placeholder="v1" />
				</div>
			</div>
		</div>	
	
		<div class="gf-form">
			<div class="form-field">
				<label class="gf-form-label width-11">
					Tenant ID
					<info-popover mode="right-normal">The ID of your OSIsoft Cloud Services tenant</info-popover>
				</label>
				<div style="flex-grow: 1;">
					<input type="text" class="gf-form-input width-20" ng-model="ctrl.current.jsonData.tenant" required />
				</div>
			</div>
		</div>	
	
		<div class="gf-form">
			<div class="form-field">
				<label class="gf-form-label width-11">
					Client ID
					<info-popover mode="right-normal">The ID of the Client Credentials client to authenticate against your OCS tenant</info-popover>
				</label>
				<div style="flex-grow: 1;">
					<input type="text" class="gf-form-input width-20" ng-model="ctrl.current.jsonData.client" required />
				</div>
			</div>
		</div>
			
		<div class="gf-form" ng-if="!ctrl.current.secureJsonFields.secret">
			<div class="form-field">
				<label class="gf-form-label width-11">
					Client Secret
					<info-popover mode="right-normal">The secret for the specified Client Credentials client</info-popover>
				</label>
				<div style="flex-grow: 1;">
					<input type="password" class="gf-form-input width-20" ng-model='ctrl.current.secureJsonData.secret' required placeholder=""></input>
				</div>
			</div>
		</div>
	
		<div class="gf-form" ng-if="ctrl.current.secureJsonFields.secret">
			<div class="form-field">
				<label class="gf-form-label width-11">
					Client Secret
					<info-popover mode="right-normal">The secret for the specified Client Credentials client</info-popover>
				</label>
				<div style="flex-grow: 1; display: flex;" class="width-20">
					<input type="text" class="gf-form-input" disabled="disabled" value="Saved">
					<a style="margin-right: 0;" class="btn btn-secondary gf-form-btn" href="#" ng-click="ctrl.current.secureJsonFields.secret = false">Reset</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div ng-if="ctrl.current.jsonData.type === 'eds'">
	<h3 class="page-heading">EDS Information</h3>
	
	<div class="gf-form-group">
		<div class="gf-form">
			<div class="form-field">
				<label class="gf-form-label width-11">
					Port
					<info-popover mode="right-normal">The port number used by Edge Data Store</info-popover>
				</label>
				<div style="flex-grow: 1;">
					<input type="text" class="gf-form-input width-20" ng-model="ctrl.current.jsonData.port" required placeholder="5590" />
				</div>
			</div>
		</div>
</div>
